*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
h3{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}
body{
    background-color: #76e1eb;
    padding: 80px 122px 50px;
}
.landing{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.left-side{
    background-color: #3986be;
    color: white;
    flex-basis: 50%;
    padding: 40px;
}
.left-side p{
    margin: 40px 0;
    font-size: 18px;
    line-height: 1.6;
}
.left-side button{
    padding: 12px 16px ;
    border: 0;
    outline: 0;
    background-color: white;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;

}
.right-side{
    background-color: white;
    flex-basis: 50%;
    padding: 40px;
}
.right-side .fullName,
.right-side .password{
    display: flex;
    gap: 20px;
}
.fullName .fname ,
.fullName .lname , .pass , .confirm-password{
    flex-basis: 50%;
}
.right-side label{
    display: block;
    margin: 12px 0;
}
.right-side input{
    width: 100%;
    padding: 10px 7px ;
    margin: 5px 0px 12px;
    outline: 0;
}
.right-side input[type = "checkbox"]{
    width: 2%;
}
.right-side .remmber{
    margin: 24px 0;
}
.right-side .submit input{
    width: 130px;
    background-color: #3986be;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;

}



